.container__sign__in .--form__modal > .content{
    position: fixed;
    top: 1%;
    left: 20%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.container__sign__in .--form__modal > .content > *{
    width: 100%;
    height: 50px;
}
.error{
    position: absolute;
    bottom: 20%;
    width: 100%;
    color: red;
}